@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

blockquote[xml|lang]{
	font-style: italic;
}

/* business cards, personal cards, etc. */
.card > p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

abbr.acronym,
abbr.era{
	font-variant: all-small-caps;
}

/* epigraph */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}

article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* end of epigraph */

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

/* poetry, songs */
[epub|type~="z3998:poem"] header{
	font-variant: small-caps;
	margin: 1em;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}
/* end of poetry, songs */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	text-align: left;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:sender"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

#queries-and-answers p[epub|type~="z3998:signature"]{
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}
/* end of letter */

/* drama */
[epub|type~="z3998:dramatis-personae"] header{
	font-weight: bold;
}

[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
}

[epub|type~="z3998:dramatis-personae"] ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

[epub|type~="z3998:dramatis-personae"] ul li{
	margin: 1em;
	font-style: italic;
}

[epub|type~="z3998:scene"]{
	margin: 1em auto;
	width: 75%;
}

[epub|type~="z3998:drama"]{
	border-collapse: collapse;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	vertical-align: top;
	padding: .5em;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:drama"] table{
	margin: 1em auto;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}
/* end of drama */

/* story-specific formatting */
#getting-at-the-facts blockquote > header > p,
#a-bird-of-bagdad header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

/* override core's formatting of a 3em top margin for paragraph following a header */
#a-bird-of-bagdad header + p{
	margin-top: 0;
}

#a-departmental-case blockquote > header{
	margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

#conscience-in-art table{
	margin: 1em auto;
}

#conscience-in-art td:first-child{
	padding-right: 3em;
}

#conscience-in-art td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#conscience-in-art tr:last-child td:first-child{
	text-indent: 1em;
}

#conscience-in-art tr:last-child td:last-child{
	border-top: 1px solid;
}

#in-mezzotint div{
	border: 2px solid;
	margin: 1em auto;
	padding: 1em 0;
	text-align: center;
	width: 9em;
}

#in-mezzotint div > p{
	font-size: large;
	font-weight: bold;
	text-indent: 0;
	text-transform: uppercase;
}

#reconciliation p:last-child,
#sound-and-fury table + p{
	margin-top: 1em;
	text-align: center;
	text-indent: 0;
}

#the-proem blockquote{
	font-style: normal;
	font-variant: all-small-caps;
	text-align: center;
}

#the-rose-of-dixie blockquote{
	text-align: center;
}

#the-proem blockquote p,
#the-rose-of-dixie blockquote > p{
	text-indent: 0;
}

#the-rose-of-dixie blockquote > p:nth-child(3n) > b{
	font-variant: normal;
	text-transform: uppercase;
}

#the-vitagraphoscope p:nth-child(5){
	font-style: italic;
	margin-top: 1em;
}

#the-vitagraphoscope section > header + *{
	margin: 0;
}

#the-vitagraphoscope header{
	font-variant: small-caps;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
}

#the-vitagraphoscope header p:nth-child(2){
	font-style: italic;
	font-variant: normal;
}

#the-vitagraphoscope-1-3 p:last-child{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: center;
	text-indent: 0;
}

#a-matter-of-mean-elevation blockquote{
	font-style: italic;
}

#calloways-code blockquote p + p{
	text-indent: 0;
}

.editorial{
	margin: 1em;
	text-align: center;
	text-indent: 0;
}

.editorial + p{
	text-indent: 0;
}
