@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}

[epub|type~="epigraph"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="epigraph"] p > span + br{
	display: none;
}

.signature{
	font-variant: small-caps;
	text-align: right;
}